---
layout: null
title: Home
description: 
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			<!-- Intro -->
			<div id="intro">
				<h1>{{site.title}}</h1>
				<h2>Web Developer</h2>
				<p>"The future depends on what we do in the present." -Mahatma Gandhi</p>
				<ul class="actions">
					<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>
			<!-- Header -->
			<header id="header">
				<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
			</header>
			<!-- Nav -->
			<nav id="nav">
				{% include nav.html %}
			</nav>
			<!-- Main -->
			<div id="main">
				<!-- Featured Post -->
				<article class="post featured">
					<header class="major">
						<h2>Welcome</h2>
						<p>
							Hey there! This is my personal website where I will be mainly showcasing projects that I've done over the years.
							<br>
							For any questions / concerns, send me a message below!
						</p>
					</header>
					<!-- <a href="/about" class="image main"><img src="{{ "/images/baby.jpg" | absolute_url }}" alt="" /><figcaption class="caption" style="text-align:center; display:table; max-width:60%; margin: 10px auto;"><sup><u>Source</u>: Photo of my brother (left) and myself (right) by Jonathan Ong</sup></figcaption></a> -->
				</article>
				<!-- Posts -->
				<section class="posts">
					{% for post in site.posts limit:3 %}
						{% assign mod3 = forloop.index | modulo: 3 %}
						<article>
							<header>
								<span class="date">{{ post.date | date_to_string }}</span>
								<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
							</header>
							<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
							<p>{{ post.excerpt }}</p>
							<ul class="actions">
								<li><a href="{{ post.url | absolute_url }}" class="button">Details</a></li>
							</ul>
						</article>
						{% if mod3 == 0 %}
							<article>
								<header>
									<span class="date" style="visibility:hidden">2022</span>
									<h2>More Coming Soon . . .</h2>
								</header>
								<span class="image fit"><img src="{{ "/images/waiting.gif" | absolute_url }}" alt="" /></span>
							</article>
						{% endif %}
					{% endfor %}
				</section>
				<!-- Footer -->
				<footer>
					<ul class="actions">
						<li><a href="{{ "/project/" | absolute_url }}" class="button">My Projects</a></li>
					</ul>
				</footer>
			</div>
			<!-- Footer -->
			{% include foot.html %}
		</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    	{% include tracking.html %}
	</body>
</html>